---
import Container from "@/components/Container.astro";
import FormPost from "@/components/FormPost.tsx";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="New Post - My Blog">
  <Container>
    <h1 class="text-2xl font-bold mb-6">New Post</h1>
    <FormPost client:load />
  </Container>
</Layout>
